.balls {
  position: absolute;
  background: black;
  border-radius: 50%;
}

.game-wrapper {
  position: relative;
  border: 2px solid brown;
  margin: 5% 24%;
  background: rgb(236, 236, 236);
}

 h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  color: rgb(43, 107, 226);
  /* padding-top: 50px; */
}
